<h2>Nuestros Productos</h2>
<div *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}" class="border border-secondary mb-3">
  <div class="row p-2">
    <div class="col-md-2 text-v-align-m">
      <img width="100" class="img-thumbnail" [src]="beer.image" [alt]="beer.name">
    </div>
    <div class="col-md-2 text-v-align-m">
      {{beer.name}}
    </div>
    <div class="col-md-2 text-v-align-m">
      {{beer.type}}
    </div>
    <div class="col-md-2 text-v-align-m">
      {{beer.price |currency}}
    </div>
    <div class="col-md-2 text-v-align-m">
      <span class="badge badge-warning p-1" *ngIf="beer.stock==0; else elseBlock">Sin Stock</span>
      <ng-template #elseBlock>{{beer.stock}}</ng-template>
    </div>
    <div class="col-md-2 text-v-align-m">
      <div *ngIf="beer.stock">
        <app-input-integer  [(quantity)]="beer.quantity" [max]="beer.stock" (maxReached)="maxReached($event)"></app-input-integer>
        <button class="btn btn-primary mt-2" (click)="addToCart(beer)">Al Carrito</button>
      </div>
    </div>
  </div>
</div>
