h1 {
  color: blue;
}

.clearance {
  border: 2px solid green;
  background: lightgreen;
}

td{
  vertical-align: middle;
}

.text-v-align-m{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

img{
  cursor: pointer;
}
