<h2>Nuestros Productos</h2>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">-</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">-</th>
    </tr>
  </thead>
</table>
<div *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}" class="border border-secondary mb-3">
  <div class="row p-2">
    <div class="col-md-2 text-v-align-m">
      <img width="100" class="img-thumbnail" [src]="beer.image" [alt]="beer.name" (click)=open(beer)>
    </div>
    <div class="col-md-2 text-v-align-m">
      {{beer.name}}
    </div>
    <div class="col-md-2 text-v-align-m">
      {{beer.type}}
    </div>
    <div class="col-md-2 text-v-align-m">
      {{beer.price |currency}}
    </div>
    <div class="col-md-2 text-v-align-m">
      <span class="badge badge-warning p-1" *ngIf="beer.stock==0; else elseBlock">Sin Stock</span>
      <ng-template #elseBlock>{{beer.stock}}</ng-template>
    </div>
    <div class="col-md-2 text-v-align-m">
      <div *ngIf="beer.stock">
        <app-input-integer  [(quantity)]="beer.quantity" [max]="beer.stock" (maxReached)="maxReached($event)"></app-input-integer>
        <button class="btn btn-primary mt-2" (click)="addToCart(beer)">Al Carrito</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="beers.length === 0" class="p-2 mt-5">
  <h3>Actualmente no Dispones de productos.</h3>
</div>
<app-beer-info-modal #myModal></app-beer-info-modal>
