<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-primary btn-sm" (click)="downQuantity()">-</button>
  </div>
  <input class="smallInput" class="text-center" type="number" [(ngModel)]="quantity" (change)="checkValue(quantity)" min="0"/>
  <div class="input-group-append">
    <button class="btn btn-primary btn-sm" (click)="upQuantity()">+</button>
  </div>
</div>

<!--<button class="btn btn-primary btn-sm" (click)="downQuantity(beer)">-</button>
<input class="smallInput" type="number" [(ngModel)]="beer.quantity"/>
<button class="btn btn-primary btn-sm" (click)="upQuantity(beer)">+</button>-->
