img{
  width: 100%;
}

.ngb-carousel::after{
  outline: none !important;
}

.fade-item {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: 100%;
    width: 200%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}
